exportPattern("^[[:alpha:]]+")

export(wcpa)
export("%>%")
export(fread)
export(fwrite)

import(data.table)
import(magrittr)
import(glue)
import(grid)
import(tidyfst)
import(pheatmap)
import(ggplot2)
import(stringr)
import(patchwork)
import(kableExtra)
import(ggseqlogo)
import(edgeR)
import(rtracklayer)
import(ggthemes)
import(ggrepel)
import(ggprism)
import(export)
