exportPattern("^[[:alpha:]]+")

export(wcpa)
export("%>%")
export(fread)

import(data.table)
import(magrittr)
import(glue)
import(grid)
import(tidyfst)
import(pheatmap)
import(ggplot2)
import(stringr)
